<plugin name='springws' version='2.0.0' grailsVersion='2.0 &gt; *'>
  <author>Russ Miles</author>
  <authorEmail>russ@russmiles.com</authorEmail>
  <title>Spring WS Plugin</title>
  <description>Spring WS Plugin</description>
  <documentation>http://grails.org/SpringWs+Plugin</documentation>
  <type>SpringwsGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>XMLDateCodec</resource>
    <resource>XMLDateTimeCodec</resource>
  </resources>
</plugin>